---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
import { db, apiKeys } from "../db/schema.ts";
import { eq } from "drizzle-orm";

const session = await getSession(Astro.request);

// Get minDate and maxDate of the API key expiration
const minDate = new Date();
const minString = minDate.toISOString().split("T")[0];

const maxDate = new Date();
maxDate.setDate(maxDate.getDate() + 365);
const maxString = maxDate.toISOString().split("T")[0];

let api_keys;

if (session) {
    api_keys = await db
        .select()
        .from(apiKeys)
        .where(eq(apiKeys.userId, session.userId));
}
---

<html>
    <body>
        <noscript
            >Warning, unfortunately, for logging in, you need to turn on
            javascript, other operations should not require javascript, if they
            do, do not hesitate to file a bug report!</noscript
        >

        <SignIn>Login</SignIn>
        <SignOut>Logout</SignOut>

        {
            session ? (
                <>
                    <p>Welcome {session.user?.name}</p>
                    <form method="POST" action="/key">
                        <label>
                            Expiry date of the API key:
                            <input
                                name="expireDate"
                                type="date"
                                min={minString}
                                max={maxString}
                                required
                            />
                        </label>
                        <button type="submit">Generate New API Key</button>
                    </form>
                    <table>
                        <tr>
                            <th>Last 8 characters of your API key</th>
                            <th>Creation date of your API key</th>
                            <th>Expire date of your API key</th>
                        </tr>
                        {api_keys.map((api_key) => (
                            <tr>
                                <th>{api_key.last8Chars}</th>
                                <th>
                                    {
                                        api_key.creationDate
                                            .toISOString()
                                            .split("T")[0]
                                    }
                                </th>
                                <th>
                                    {
                                        api_key.expireDate
                                            .toISOString()
                                            .split("T")[0]
                                    }
                                </th>
                            </tr>
                        ))}
                    </table>
                </>
            ) : (
                <p>Not logged in</p>
            )
        }
    </body>
</html>
