---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
---

<BaseLayout title="Welcome!">
    <Navbar />

    <h1>Tricky 20</h1>
    <p>Tricky 20 is a collection of a bunch of computer puzzles to solve.</p>
    <p>
        The special thing about tricky-20 is that the puzzles are made to be
        only accessible though the api/curl. For some reason this makes it seem
        more fun and hacker-y to me.
    </p>

    <a href="https://codeberg.org/Jayden295/tricky-20"
        >Codeberg repository available here, you can also report bugs there!</a
    >
</BaseLayout>
