---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<html>
    <body>
        <SignIn>Login</SignIn>
        <SignOut>Logout</SignOut>

        {session ? <p>Welcome {session.user?.name}</p> : <p>Not logged in</p>}
    </body>
</html>
